In [29]:
import numpy as np
import pandas as pd
import ast

In [30]:
movies=pd.read_csv("tmdb_5000_movies.csv")

In [31]:
credits=pd.read_csv("tmdb_5000_credits.csv")

In [32]:
movies=movies.merge(credits,on='title')

In [33]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [34]:
movies.shape

(4809, 23)

In [35]:
movies['original_language'].value_counts()

en    4510
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
ko      12
cn      12
ru      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
ta       2
cs       2
ro       2
id       2
ar       2
vi       1
sl       1
ps       1
no       1
ky       1
hu       1
pl       1
af       1
nb       1
tr       1
is       1
xx       1
te       1
el       1
Name: original_language, dtype: int64

In [36]:
movies=movies[['movie_id','title','overview','genres','keywords','cast','crew','vote_count','vote_average']]

In [37]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,vote_count,vote_average
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",11800,7.2
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",4500,6.9
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",4466,6.3
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",9106,7.6
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",2124,6.1

In [38]:
movies.isnull().sum()

movie_id        0
title           0
overview        3
genres          0
keywords        0
cast            0
crew            0
vote_count      0
vote_average    0
dtype: int64

In [39]:
movies.dropna(inplace=True)

In [40]:
movies.shape

(4806, 9)

In [41]:
movies.duplicated().sum()

0

In [42]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [43]:
import ast

In [44]:
def convert1(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [45]:
movies['genres'].apply(convert1)

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4804                        [Action, Crime, Thriller]
4805                                [Comedy, Romance]
4806               [Comedy, Drama, Romance, TV Movie]
4807                                               []
4808                                    [Documentary]
Name: genres, Length: 4806, dtype: object

In [46]:
movies['genres']=movies['genres'].apply(convert1)

In [47]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,vote_count,vote_average
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",11800,7.2
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",4500,6.9
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",4466,6.3
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",9106,7.6
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",2124,6.1

In [48]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])

In [82]:
new_df=movies[['movie_id','title','genres']]

In [83]:
new_df.head()

,movie_id,title,genres
0,19995,Avatar,"['action', 'adventure', 'fantasy', 'sciencefic..."
1,285,Pirates of the Caribbean: At World's End,"['adventure', 'fantasy', 'action']"
2,206647,Spectre,"['action', 'adventure', 'crime']"
3,49026,The Dark Knight Rises,"['action', 'crime', 'drama', 'thriller']"
4,49529,John Carter,"['action', 'adventure', 'sciencefiction']"

In [84]:
new_df['genres']=new_df['genres'].apply(lambda x:x.lower())

C:\Users\agraw\AppData\Local\Temp/ipykernel_11340/174350448.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['genres']=new_df['genres'].apply(lambda x:x.lower())

In [85]:
new_df.head()

,movie_id,title,genres
0,19995,Avatar,"['action', 'adventure', 'fantasy', 'sciencefic..."
1,285,Pirates of the Caribbean: At World's End,"['adventure', 'fantasy', 'action']"
2,206647,Spectre,"['action', 'adventure', 'crime']"
3,49026,The Dark Knight Rises,"['action', 'crime', 'drama', 'thriller']"
4,49529,John Carter,"['action', 'adventure', 'sciencefiction']"

In [59]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [86]:
vectors=cv.fit_transform(new_df['genres']).toarray()

In [87]:
cv.fit_transform(new_df['genres']).toarray().shape

(4806, 20)

In [88]:
vectors

array([[1, 1, 0, ..., 0, 0, 0],
       [1, 1, 0, ..., 0, 0, 0],
       [1, 1, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [89]:
cv.get_feature_names()

C:\Users\agraw\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['action',
 'adventure',
 'animation',
 'comedy',
 'crime',
 'documentary',
 'drama',
 'family',
 'fantasy',
 'foreign',
 'history',
 'horror',
 'music',
 'mystery',
 'romance',
 'sciencefiction',
 'thriller',
 'tvmovie',
 'war',
 'western']

In [90]:
from sklearn.metrics.pairwise import cosine_similarity

In [91]:
similarity=cosine_similarity(vectors)

In [92]:
similarity.shape

(4806, 4806)

In [93]:
new_df[new_df['title']=='Batman Begins']

     movie_id          title                        genres
119       272  Batman Begins  ['action', 'crime', 'drama']

In [94]:
new_df[new_df['title']=='Batman Begins'].index[0]

119

In [95]:
def recommend(movie):
    movie_index=new_df[new_df['title']==movie].index[0]
    distances=similarity[movie_index]
    movie_list=sorted(list(enumerate(distances)),reverse=True, key =lambda x:x[1])[1:11]
    for i in movie_list:
        print(new_df.iloc[i[0]].title)
    return

In [96]:
recommend('Skyfall')

Mission: Impossible - Rogue Nation
Mission: Impossible III
Die Another Day
Mission: Impossible - Ghost Protocol
The World Is Not Enough
Mission: Impossible II
Dante's Peak
Tomorrow Never Dies
Speed 2: Cruise Control
Casino Royale

In [98]:
sorted(list(enumerate(similarity[0])),reverse=True, key =lambda x:x[1])[1:11]

[(10, 1.0),
 (14, 1.0),
 (46, 1.0),
 (61, 1.0),
 (232, 1.0),
 (813, 1.0),
 (870, 1.0),
 (3498, 1.0),
 (72, 0.8944271909999159),
 (238, 0.8944271909999159)]