In [184]:
import numpy as np
import warnings
import pandas as pd
import ast

In [185]:
movies=pd.read_csv("movies.csv")
ratings=pd.read_csv("ratings.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [186]:
new_df=pd.merge(ratings,movies,on='movieId').drop(['timestamp'],axis=1)
movies.shape

(9742, 3)

In [187]:
new_df.head(20)

,userId,movieId,rating,title,genres
0,1,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
5,18,1,3.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
6,19,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
7,21,1,3.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
8,27,1,3.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
9,31,1,5.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
10,32,1,3.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
11,33,1,3.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
12,40,1,5.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
13,43,1,5.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
14,44,1,3.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
15,45,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
16,46,1,5.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
17,50,1,3.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
18,54,1,3.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
19,57,1,5.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [188]:
new_df.shape

(100836, 5)

In [189]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [190]:
v = new_df.userId.value_counts()
v_df=new_df[new_df.userId.isin(v.index[v.gt(10)])]
v

414    2698
599    2478
474    2108
448    1864
274    1346
       ...
431      20
194      20
257      20
207      20
189      20
Name: userId, Length: 610, dtype: int64

In [191]:
v_df.shape

(100836, 5)

In [192]:
v_df.userId.value_counts()

414    2698
599    2478
474    2108
448    1864
274    1346
       ...
431      20
194      20
257      20
207      20
189      20
Name: userId, Length: 610, dtype: int64

In [193]:
## for userId 194
## taking his top three movies on the basis of his ratings

In [278]:
def userid(id):
    df=v_df.loc[new_df['userId']==id]
    sdf=df.sort_values('rating',ascending=False)
    sdf.head(20)
    x_df=sdf[0:6]
    x_df.head()
    z_df=pd.concat([sdf,x_df,x_df]).drop_duplicates(keep=False)
    z_df.drop(['userId','rating'],axis=1,inplace=True)
    movies_df=pd.concat([movies,z_df,z_df]).drop_duplicates(keep=False)
    return movies_df,x_df

In [279]:
moviesdf,xdf=userid(194)

moviesdf.shape

(9728, 3)

In [280]:
xdf.head(6)

,userId,movieId,rating,title,genres
6364,194,1090,4.5,Platoon (1986),Drama|War
37898,194,7143,4.5,"Last Samurai, The (2003)",Action|Adventure|Drama|War
64454,194,1035,4.0,"Sound of Music, The (1965)",Musical|Romance
16264,194,5060,4.0,M*A*S*H (a.k.a. MASH) (1970),Comedy|Drama|War
21603,194,1288,4.0,This Is Spinal Tap (1984),Comedy
3852,194,552,3.5,"Three Musketeers, The (1993)",Action|Adventure|Comedy|Romance

In [281]:
moviesdf['genres']=moviesdf['genres'].str.replace('|',' ')
moviesdf['genres']=moviesdf['genres'].apply(lambda x:x.lower())

C:\Users\agraw\AppData\Local\Temp/ipykernel_21412/4213897376.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  moviesdf['genres']=moviesdf['genres'].str.replace('|',' ')

In [282]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')
vectors=cv.fit_transform(moviesdf['genres']).toarray()
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vectors)
similarity.shape
def recommend(movie):
    movie_index=moviesdf[moviesdf['title']==movie].index[0]
    distances=similarity[movie_index]
    movie_list=sorted(list(enumerate(distances)),reverse=True, key =lambda x:x[1])[1:4]
    for i in movie_list:
        print(moviesdf.iloc[i[0]].title,moviesdf.iloc[i[0]].genres)
    return

In [283]:
for i in xdf['title']:
        recommend(i)

Othello (1995) drama
Dangerous Minds (1995) drama
Cry, the Beloved Country (1995) drama
Peter Pan (2003) action adventure children fantasy
Adventures of Sharkboy and Lavagirl 3-D, The (2005) action adventure children fantasy
Zathura (2005) action adventure children fantasy
Leaving Las Vegas (1995) drama romance
Persuasion (1995) drama romance
How to Make an American Quilt (1995) drama romance
Sabrina (1995) comedy romance
Clueless (1995) comedy romance
Two if by Sea (1996) comedy romance
Leaving Las Vegas (1995) drama romance
Persuasion (1995) drama romance
How to Make an American Quilt (1995) drama romance
Big Bully (1996) comedy drama
Antonia's Line (Antonia) (1995) comedy drama
In the Bleak Midwinter (1995) comedy drama

In [577]:
recommend('Sound of Music, The (1965)')

[(599, 0.9999999999999998), (628, 0.9999999999999998), (792, 0.9999999999999998)]
Phantom, The (1996) action adventure
Fled (1996) action adventure
Ghost and the Darkness, The (1996) action adventure