In [1]:
import numpy as np
import pandas as pd
import ast

In [2]:
movies=pd.read_csv("movies.csv")

In [3]:
credits=pd.read_csv("ratings.csv")

In [4]:
##movies=movies.merge(credits,on='movieId')

In [5]:
movies.head(1)

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy

In [6]:
movies.shape

(9742, 3)

In [7]:
movies['movieId'].value_counts()

1         1
53322     1
53129     1
53138     1
53140     1
         ..
4390      1
4392      1
4393      1
4394      1
193609    1
Name: movieId, Length: 9742, dtype: int64

In [8]:
movies.head(30)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Crime|Drama
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Comedy
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller
20,21,Get Shorty (1995),Comedy|Crime|Thriller
21,22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller
22,23,Assassins (1995),Action|Crime|Thriller
23,24,Powder (1995),Drama|Sci-Fi
24,25,Leaving Las Vegas (1995),Drama|Romance
25,26,Othello (1995),Drama
26,27,Now and Then (1995),Children|Drama
27,28,Persuasion (1995),Drama|Romance
28,29,"City of Lost Children, The (Cit√© des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama

In [9]:
movies.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [10]:
movies.dropna(inplace=True)

In [11]:
movies.shape

(9742, 3)

In [12]:
movies.duplicated().sum()

0

In [13]:
movies.iloc[0].genres

'Adventure|Animation|Children|Comedy|Fantasy'

In [14]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [15]:
movies['genres']=movies['genres'].str.replace('|',' ')

C:\Users\agraw\AppData\Local\Temp/ipykernel_16188/2665461764.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  movies['genres']=movies['genres'].str.replace('|',' ')

In [16]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure Animation Children Comedy Fantasy
1,2,Jumanji (1995),Adventure Children Fantasy
2,3,Grumpier Old Men (1995),Comedy Romance
3,4,Waiting to Exhale (1995),Comedy Drama Romance
4,5,Father of the Bride Part II (1995),Comedy

In [17]:
movies['genres']=movies['genres'].apply(lambda x:x.lower())

In [18]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),adventure animation children comedy fantasy
1,2,Jumanji (1995),adventure children fantasy
2,3,Grumpier Old Men (1995),comedy romance
3,4,Waiting to Exhale (1995),comedy drama romance
4,5,Father of the Bride Part II (1995),comedy

In [19]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [20]:
vectors=cv.fit_transform(movies['genres']).toarray()

In [21]:
cv.fit_transform(movies['genres']).toarray().shape

(9742, 23)

In [22]:
vectors

array([[0, 1, 1, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [1, 0, 1, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [23]:
cv.get_feature_names()

C:\Users\agraw\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['action',
 'adventure',
 'animation',
 'children',
 'comedy',
 'crime',
 'documentary',
 'drama',
 'fantasy',
 'fi',
 'film',
 'genres',
 'horror',
 'imax',
 'listed',
 'musical',
 'mystery',
 'noir',
 'romance',
 'sci',
 'thriller',
 'war',
 'western']

In [24]:
from sklearn.metrics.pairwise import cosine_similarity

In [25]:
similarity=cosine_similarity(vectors)

In [26]:
similarity.shape

(9742, 9742)

In [27]:
movies[movies['title']=='Heat (1995)']

   movieId        title                 genres
5        6  Heat (1995)  action crime thriller

In [28]:
movies[movies['title']=='Heat (1995)'].index[0]

5

In [29]:
def recommend(movie):
    movie_index=movies[movies['title']==movie].index[0]
    distances=similarity[movie_index]
    movie_list=sorted(list(enumerate(distances)),reverse=True, key =lambda x:x[1])[1:16]
    for i in movie_list:
        print(movies.iloc[i[0]].title)
    return

In [30]:
recommend('Heat (1995)')

Assassins (1995)
Die Hard: With a Vengeance (1995)
Net, The (1995)
Natural Born Killers (1994)
Judgment Night (1993)
Batman (1989)
Die Hard (1988)
Hard Rain (1998)
Replacement Killers, The (1998)
U.S. Marshals (1998)
French Connection, The (1971)
Ronin (1998)
No Mercy (1986)
Someone to Watch Over Me (1987)
Shaft (2000)

In [31]:
import pickle

In [34]:
pickle.dump(movies,open('movies.pkl','wb'))

In [35]:
pickle.dump(similarity,open('similarity.pkl','wb'))