In [34]:
import numpy as np
import pandas as pd
import ast

In [35]:
movies=pd.read_csv("movies.csv")
ratings=pd.read_csv("ratings.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [36]:
new_df=pd.merge(ratings,movies,on='movieId').drop(['timestamp'],axis=1)
movies.shape

(9742, 3)

In [37]:
new_df.head(20)

,userId,movieId,rating,title,genres
0,1,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
5,18,1,3.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
6,19,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
7,21,1,3.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
8,27,1,3.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
9,31,1,5.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
10,32,1,3.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
11,33,1,3.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
12,40,1,5.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
13,43,1,5.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
14,44,1,3.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
15,45,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
16,46,1,5.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
17,50,1,3.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
18,54,1,3.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
19,57,1,5.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [38]:
new_df.shape

(100836, 5)

In [39]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [40]:
v = new_df.userId.value_counts()
v_df=new_df[new_df.userId.isin(v.index[v.gt(10)])]
v

414    2698
599    2478
474    2108
448    1864
274    1346
       ...
431      20
194      20
257      20
207      20
189      20
Name: userId, Length: 610, dtype: int64

In [41]:
v_df.shape

(100836, 5)

In [42]:
v_df.userId.value_counts()

414    2698
599    2478
474    2108
448    1864
274    1346
       ...
431      20
194      20
257      20
207      20
189      20
Name: userId, Length: 610, dtype: int64

In [43]:
## for userId 194
## taking his top three movies on the basis of his ratings

In [44]:
df=v_df.loc[new_df['userId']==431]
sdf=df.sort_values('rating',ascending=False)
sdf.head(20)

,userId,movieId,rating,title,genres
51570,431,555,5.0,True Romance (1993),Crime|Thriller
70028,431,1233,4.5,"Boot, Das (Boat, The) (1981)",Action|Drama|War
8989,431,1278,4.0,Young Frankenstein (1974),Comedy|Fantasy
10056,431,1625,4.0,"Game, The (1997)",Drama|Mystery|Thriller
50737,431,1234,4.0,"Sting, The (1973)",Comedy|Crime
3819,431,543,3.5,So I Married an Axe Murderer (1993),Comedy|Romance|Thriller
64910,431,3948,3.0,Meet the Parents (2000),Comedy
58482,431,903,3.0,Vertigo (1958),Drama|Mystery|Romance|Thriller
1193,431,163,3.0,Desperado (1995),Action|Romance|Western
12216,431,2406,3.0,Romancing the Stone (1984),Action|Adventure|Comedy|Romance
32390,431,485,2.5,Last Action Hero (1993),Action|Adventure|Comedy|Fantasy
59195,431,1376,2.5,Star Trek IV: The Voyage Home (1986),Adventure|Comedy|Sci-Fi
3868,431,552,2.5,"Three Musketeers, The (1993)",Action|Adventure|Comedy|Romance
32288,431,466,2.0,Hot Shots! Part Deux (1993),Action|Comedy|War
45341,431,172,2.0,Johnny Mnemonic (1995),Action|Sci-Fi|Thriller
44650,431,1639,1.5,Chasing Amy (1997),Comedy|Drama|Romance
64537,431,2006,1.5,"Mask of Zorro, The (1998)",Action|Comedy|Romance
33418,431,802,1.5,Phenomenon (1996),Drama|Romance
28800,431,158,1.0,Casper (1995),Adventure|Children
31981,431,435,0.5,Coneheads (1993),Comedy|Sci-Fi

In [45]:

x_df=sdf[0:5]

In [46]:
x_df.head()

,userId,movieId,rating,title,genres
51570,431,555,5.0,True Romance (1993),Crime|Thriller
70028,431,1233,4.5,"Boot, Das (Boat, The) (1981)",Action|Drama|War
8989,431,1278,4.0,Young Frankenstein (1974),Comedy|Fantasy
10056,431,1625,4.0,"Game, The (1997)",Drama|Mystery|Thriller
50737,431,1234,4.0,"Sting, The (1973)",Comedy|Crime

In [47]:
z_df=pd.concat([sdf,x_df,x_df]).drop_duplicates(keep=False)
z_df.drop(['userId','rating'],axis=1,inplace=True)

In [48]:
movies=pd.concat([movies,z_df,z_df]).drop_duplicates(keep=False)

In [49]:
movies.shape

(9727, 3)

In [50]:
movies['genres']=movies['genres'].str.replace('|',' ')

C:\Users\agraw\AppData\Local\Temp/ipykernel_9100/311253316.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  movies['genres']=movies['genres'].str.replace('|',' ')

In [51]:
movies['genres']=movies['genres'].apply(lambda x:x.lower())
movies = movies[~movies.genres.str.contains("no genres listed", na=False)]
movies['genres']=movies['genres'].str.replace('-',' ')
movies.shape

(9693, 3)

In [52]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [53]:
vectors=cv.fit_transform(movies['genres']).toarray()
from sklearn.metrics.pairwise import cosine_similarity

In [54]:
vectors

array([[0, 1, 1, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [1, 0, 1, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [55]:
similarity=cosine_similarity(vectors)
similarity

MemoryError: Unable to allocate 717. MiB for an array with shape (9693, 9693) and data type float64

In [56]:
def recommend(movie):
    movie_index=movies[movies['title']==movie].index[0]
    distances=similarity[movie_index]
    movie_list=sorted(list(enumerate(distances)),reverse=True, key =lambda x:x[1])[0:4]
    for i in movie_list:
        print(movies.iloc[i[0]].title,movies.iloc[i[0]].genres)
    return

In [26]:
for i in x_df['title']:
    recommend(i)

Kicking and Screaming (1995) comedy drama
Big Bully (1996) comedy drama
Antonia's Line (Antonia) (1995) comedy drama
In the Bleak Midwinter (1995) comedy drama
Waiting to Exhale (1995) comedy drama romance
American President, The (1995) comedy drama romance
Mighty Aphrodite (1995) comedy drama romance
Postman, The (Postino, Il) (1994) comedy drama romance
Father of the Bride Part II (1995) comedy
Four Rooms (1995) comedy
Ace Ventura: When Nature Calls (1995) comedy
Bio-Dome (1996) comedy
Client, The (1994) drama mystery thriller
39 Steps, The (1935) drama mystery thriller
Game, The (1997) drama mystery thriller
The Devil's Advocate (1997) drama mystery thriller
Miller's Crossing (1990) crime drama film noir thriller
Strangers on a Train (1951) crime drama film noir thriller
Key Largo (1948) crime drama film noir thriller
One False Move (1992) crime drama film noir thriller

In [27]:
movie_index=movies[movies['title']=='True Romance (1993)'].index[0]
movie_index

486

In [28]:
movies.iloc[486].title

'Little Big League (1994)'

In [29]:
distances=similarity[movie_index]
distances

array([0.31622777, 0.        , 0.5       , ..., 0.70710678, 0.        ,
       0.70710678])

In [30]:
movie_lists=sorted(list(enumerate(distances)),reverse=True, key =lambda x:x[1])[0:4]
movie_lists

[(64, 0.9999999999999998),
 (67, 0.9999999999999998),
 (74, 0.9999999999999998),
 (85, 0.9999999999999998)]

In [32]:
for i in movie_lists:
    print(movies.iloc[i[0]].title)

Kicking and Screaming (1995)
Big Bully (1996)
Antonia's Line (Antonia) (1995)
In the Bleak Midwinter (1995)

In [895]:
recommend('True Romance (1993)')

Kicking and Screaming (1995) comedy|drama
Big Bully (1996) comedy|drama
Antonia's Line (Antonia) (1995) comedy|drama
In the Bleak Midwinter (1995) comedy|drama